@import '../../styles/root/root.scss';

p 
{
    margin: 0; 
}

body
{
    .main
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .main_img
        {
            width: 100%;
            height: 46vw;
            background-image: url(../../pictures/K-RO_Petite-Sirene-Carreau-Motif.jpg);
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            .main_img_title
            {
                width: 86%;
                height: 100%;
                display: flex;
                align-items: center;
                .main_img_title_txt 
                {
                    @include --Font-Medium-40px;
                    color: var(--Primary-White);
                    line-height: 60px;
                    width: 53%;
                    max-width: 660px;
                }
            }
        }

        .main_content-1
        {
            width: 86%;
            display: flex;
            gap: 150px;
            padding: 110px 0;

            .main_content-1_elements
            {
                width: 47%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                margin-top: 39px;
                .main_content-1_elements_titles
                {
                    display: flex;
                    flex-direction: column;
                    gap: 31px;
                    .content-1_elements_titles_small-title
                    {
                        @include --Font-Medium-14px;
                        color: var(--Primary-Purple);
                        text-transform: capitalize;
                    }
                    .content-1_elements_titles_big-title
                    {
                        @include --Font-Regular-40px;
                        color: var(--Primary-Navy-Blue);
                        line-height: 60px;
                        width: 82%;
                        max-width: 530px;
                    }
                }
                .main_content-1_elements_txt-img-1
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 70px;
                    margin-left: 5vw;
                    .content-1_elements_txt-img-1_txt
                    {
                        width: 65%;
                        @include --Font-Regular-16px;
                        color: var(--Primary-Navy-Blue);
                        line-height: 24px;
                        max-width: 1000px;
                    }
                    .content-1_elements_txt-img-1_img
                    {
                        width: calc(100% - 72px);
                    }
                }
            }
        }
        .main_content-2
        {
            width: 47%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 85px;
            .main_content-2_img
            {
                width: 100%;
            }
            .main_content-2_txt-btn
            {
                width: 63%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .content-2_txt-btn_txt
                {
                    width: 87%;
                    @include --Font-Regular-16px;
                    color: var(--Primary-Navy-Blue);
                    line-height: 24px;
                    max-width: 354px;
                }
                .content-2_txt-btn_btn
                {
                    width: 35%;
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    .content-2_txt-btn_btn_arrow
                    {
                        width: 0;
                        height: 0;
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        border-bottom: 21px solid var(--Primary-Orange);
                        transform: rotate(90deg);
                    }
                    .content-2_txt-btn_btn_more
                    {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        .elements_txt-btn_btn_more_txt
                        {
                            @include --Font-Regular-16px;
                            color: var(--Primary-Navy-Blue);
                            text-decoration: none;
                        }
                        .elements_txt-btn_btn_more_underline
                        {
                            width: 0%;
                            height: 1px;
                            background-color: var(--Primary-Navy-Blue);
                            transition: all 1s ease;
                        }
                    }
                    .content-2_txt-btn_btn_more:hover
                    {
                        .elements_txt-btn_btn_more_underline
                        {
                            width: 100%;
                            transition: all 1s ease;
                        }
                    }
                }
            }
        }
        .main_content-3
        {
            width: 100%;
            height: 30vw;
            @include Flex-Center-Center;
            background-color : var(--Primary-Pink);
            .main_content-3_txts
            {
                width: 71.5%;
                display: flex;
                justify-content: space-between;
                gap: 180px;
                .content-3_title
                {
                    width: 39%;
                    max-width: 468px;
                    @include --Font-Regular-40px;
                    color: var(--Primary-Navy-Blue);
                    line-height: 60px;
                }
                .content-3_txt
                {
                    width: 32%;
                    max-width: 384px;
                    @include --Font-Regular-16px;
                    color: var(--Primary-Navy-Blue);
                    line-height: 24px;
                }
            }
        }
        .main_content-4
        {
            width: 100%;
            padding: 7.6vw 0;
            @include Flex-Center-Center;
            .main_content-4_elements
            {
                width: 72vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .main_content-4_elements_img
                {
                    width: 30vw;
                }
                .main_content-4_elements_titles-txt
                {
                    width: 24.5vw;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    .main_content-4_elements_titles-txt_titles
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 31px;
                        .content-4_elements_titles-txt_titles_small
                        {
                            @include --Font-Medium-14px;
                            color: var(--Primary-Purple);
                            text-transform: capitalize;
                        }
                        .content-4_elements_titles-txt_titles_big
                        {
                            width: 100%;
                            max-width: 355px;
                            @include --Font-Regular-40px;
                            color: var(--Primary-Navy-Blue);
                            line-height: 60px;
                        }
                    }
                    .content-4_elements_titles-txt_txt
                    {
                        width: 100%;
                        max-width: 384px;
                        @include --Font-Regular-16px;
                        color: var(--Primary-Navy-Blue);
                        line-height: 24px;
                    }
                }
            }
        }
        .main_content-5
        {
            width: 100%;
            padding: 7.6vw 0;
            @include Flex-Center-Center;
            background-color: var(--Primary-Blue-Sky);
            .main_content-5_elements
            {
                width: 86%;
                display: flex;
                flex-direction: column;
                gap: 56px;
                .main_content-5_elements_titles
                {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 31px;
                    .content-5_elements_titles_small
                    {
                        @include --Font-Medium-14px;
                        color: var(--Primary-Purple);
                        text-transform: capitalize;
                    }
                    .content-5_elements_titles_big
                    {
                        @include --Font-Regular-40px;
                        color: var(--Primary-Navy-Blue);
                    }
                }
                .main_content-5_elements_details
                {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .content-5_elements_details_1
                    {
                        width: 41%;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        .content-5_elements_details_1_element
                        {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            .content-5_elements_details_1_element_txts
                            {
                                width: 100%;
                                display: flex;
                                .content-5_elements_details_1_element_txts_txt
                                {
                                    width: 17vw;
                                    @include --Font-Regular-16px;
                                    color: var(--Primary-Navy-Blue);
                                } 
                                .content-5_elements_details_1_element_txts_txt:nth-child(2)
                                {
                                    font-weight: 500;
                                } 
                            }
                            .content-5_elements_details_1_element_line
                            {
                                width: 100%;
                                height: 1.5px;
                                background-color: var(--Primary-Grey);
                            }
                        }
                    }
                    .content-5_elements_details_2
                    {
                        width: 41%;
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        .content-5_elements_details_2_element
                        {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            .content-5_elements_details_2_element_txts
                            {
                                width: 100%;
                                display: flex;
                                .content-5_elements_details_2_element_txts_txt
                                {
                                    width: 17vw;
                                    @include --Font-Regular-16px;
                                    color: var(--Primary-Navy-Blue);
                                } 
                                .content-5_elements_details_2_element_txts_txt:nth-child(2)
                                {
                                    font-weight: 500;
                                } 
                            }
                            .content-5_elements_details_2_element_line
                            {
                                width: 100%;
                                height: 1.5px;
                                background-color: var(--Primary-Grey);
                            }
                        }
                    }
                }
            }
        }
    }
}
