:root {
  --Primary-White: #fff;
  --Primary-Navy-Blue: #2C3044;
  --Primary-Grey: #808080;
  --Primary-Font: 'GT Walsheim', serif;
}

p {
  margin: 0;
}

body .footer {
  width: 100%;
  height: 11.5vw;
  background-color: var(--Primary-Navy-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

body .footer .footer_content {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .footer .footer_content .footer_content_logo {
  font-family: var(--Primary-Font);
  font-weight: normal;
  font-size: 22px;
  color: var(--Primary-White);
}

body .footer .footer_content .footer_content_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--Primary-Font);
  font-weight: normal;
  font-size: 16px;
  color: var(--Primary-White);
  gap: 20px;
}

body .footer .footer_content .footer_content_contact .footer_content_contact_title {
  font-family: var(--Primary-Font);
  font-weight: normal;
  font-size: 16px;
  color: var(--Primary-White);
}

body .footer .footer_content .footer_content_contact .footer_content_contact_mail {
  font-family: var(--Primary-Font);
  font-weight: normal;
  font-size: 16px;
  color: var(--Primary-White);
}
